<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>ovt</display-name>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>bo.gob.mintrabajo.ovt.Cableado</param-value>
    </context-param>

    <!--<context-param>-->
        <!--<param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>-->
        <!--<param-value>6LfwZwoAAAAAAI-oUHpdvRnkMfu9fXQHxc0P7IBu</param-value>-->
    <!--</context-param>-->
    <!--<context-param>-->
        <!--<param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>-->
        <!--<param-value>6LfwZwoAAAAAAEhRyntKF1PBzysAJLzqp2v-GMRR</param-value>-->
    <!--</context-param>-->

    <!--<context-param>-->
    <!--<param-name>primefaces.UPLOADER</param-name>-->
    <!--<param-value>auto|native|commons</param-value>-->
    <!--</context-param>-->

    <error-page>
        <error-code>400</error-code>
        <location>/faces/error/error400.xhtml</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/faces/error/error404.xhtml</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/faces/error/error500.xhtml</location>
    </error-page>

    <error-page>
        <error-code>503</error-code>
        <location>/faces/error/error503.xhtml</location>
    </error-page>

    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <!-- Para JETTY -->
    <welcome-file-list>
        <welcome-file>faces/pages/inicio.jsf</welcome-file>
    </welcome-file-list>
    <!-- Para JBOSS -->
<!--    <welcome-file-list>
        <welcome-file>faces>ovt/pages/inicio.jsf</welcome-file>
    </welcome-file-list>-->

</web-app>
